%h1 Listing newslettertimingprogrammings

%table
  %tr
    %th
    %th
    %th

  - @newslettertimingprogrammings.each do |newslettertimingprogramming|
    %tr
      %td= link_to 'Show', newslettertimingprogramming
      %td= link_to 'Edit', edit_newslettertimingprogramming_path(newslettertimingprogramming)
      %td= link_to 'Destroy', newslettertimingprogramming, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Newslettertimingprogramming', new_newslettertimingprogramming_path
