<h1>Listing subcontacts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcontacts.each do |subcontact| %>
  <tr>
    <td><%= link_to 'Show', subcontact %></td>
    <td><%= link_to 'Edit', edit_subcontact_path(subcontact) %></td>
    <td><%= link_to 'Destroy', subcontact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcontact', new_subcontact_path %>
