<html>
	<head>
		<title>
			<%= @newsletter.name %>
		</title>
	</head>
	<body>
		<%= @newsletter.content %>

		<%= image_tag(formatted_cart_path("http://#{request.domain}/imgnewsletters/#{@newsletter.id}", :png)) %>
	</body>
</html>
