// Place all the styles related to the mailstarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin text-align-left {
	text-align: left;
}

table.table_class_mailstart {	
	border-bottom-right-radius: 0px;        
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;        
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	width: 800px;
	tr {	
	       td.title_addr_mailstarts {
		        border-right: 1px solid white;
			@include text-align-left;
		}
		
		td#id_td_class_title {
		        border-right: 1px solid white;
			@include text-align-left;
		}
	}
}

ul#mailstarts {
	width: 798px;
	border: 1px solid black;
	border-bottom-right-radius: 8px;        
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;        
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	table.table_class_mailstarts {
		width: 800px;
		border: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	     tr {
		   td.class_link_delete_mailstarts {
			border-right: 0px;
		   }
	     }
	}
}

div#id_content {
	ul {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}
}
