// Place all the styles related to the mailstarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin text-align-left {
	text-align: left;
}

table.table_class_mailstart {	
	border-bottom-right-radius: 0px;        
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;        
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	width: 800px;
	tr {	
	       td.title_addr_mailstarts {
		        border-right: 1px solid white;
			@include text-align-left;
		}
		
		td#id_td_class_title {
		        border-right: 1px solid white;
			@include text-align-left;
		}
	}
}

div.class_list_edit_button {
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 40px;
	ul {
	      li {
		      margin-bottom: 20px;
		      input {
			height: 25px;
			background-color: #B3DEF3;
			color: black;
			font-weight: bold;
			border: 0px;
		      }

		      input:hover {
		      	border: 1px solid black;
		      }

		      input.class_button_delete_left {
			float: right;
			margin-right: 300px;
			border: 0px;
		      	background-color: red;
			color: white;
			font-weight: bold;
		      }

		      input:hover.class_button_delete_left {
			border: 1px solid black;
		      	background-color: red;
			color: black;
			font-weight: bold;
		      }

		      input.class_button_delete_right { 
			float: right;
			margin-right: 180px;
			border: 0px;
		      	background-color: red;
			color: white;
			font-weight: bold;
		      }
	      }
	}
}

ul#mailstarts {
	li {
		cursor: move;
	}
	width: 798px;
	border: 1px solid black;
	border-bottom-right-radius: 8px;        
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;        
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	table.table_class_mailstarts {
		width: 800px;
		border: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	     tr {
		   td.class_link_delete_mailstarts {
			border-right: 0px;
		   }
	     }
	}
}

div#id_content {
	ul {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}
}

div.actions {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: silver;
	div.div_class_mailstarts_categoryalls {
		float: left;
		width: 650px;
	}

	div.div_class_subcontacts_mails {
		margin-left: 650px;
	}
}

div.class_submit {
	text-align: center;
}
