// Place all the styles related to the newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.div_class_submit {
    margin-top: 40px;
    height: 70px;
    ul {
	    margin: 0px;
	    padding: 0px;
	    padding-left: 155px;
	    li {
		margin: 0px;
		padding: 0px;
		margin-right: 40px;
	        float: left;
		list-style-type: none;
	    }
       }
}

div.div_class_search_newsletter {
     height: 70px;
     padding-top: 5px;
     padding-bottom: 5px;
     ul.ul_class_form_search {
	list-style-type: none;
	margin-left: 0px;
	padding: 0px;
	li {
		margin-right: 20px;
		float: left;
	}

	li.li_class_check_button_search {
		padding-top: 19px;
	}

	li.date_select_create_on {
		display: none;
	}
      }
}

div.class_list_newsletter_historic { 
     padding-top: 40px;
     ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
     }
     table {
	width: 800px;
	td.td_class_newsletter_name {
		text-align: left;	
	}

	td#id_td_title_newsletter {	
		text-align: left;	
	}
     }
}

ol.class_ol_nostatistics {
    list-style-type: none;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}

div#id_add_planif_work {
    display: none;
}

